html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#button {
    border-radius: 1px solid salmon;
    background-color: salmon;
    margin-top: 20px;
    border-color: salmon;
}

#button:hover {
    color: purple;
}

h1 {
    color: salmon;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}