html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#datenAbschicken {
    border-radius: 1px solid rgb(40, 114, 51);
    background-color: rgb(40, 114, 51);
    margin-top: 20px;
    border-color: rgb(40, 114, 51);
    color: white;
}

#datenErhalten {
    border-radius: 1px solid rgb(40, 114, 51);
    ;
    background-color: rgb(40, 114, 51);
    ;
    margin-top: 20px;
    border-color: rgb(40, 114, 51);
    ;
    color: white;
}

#datenEntfernen {
    border-radius: 1px solid rgb(40, 114, 51);
    ;
    background-color: rgb(40, 114, 51);
    ;
    margin-top: 20px;
    border-color: rgb(40, 114, 51);
    ;
    color: white;
}

h1 {
    color: rosybrown;
}

h2 {
    color: rosybrown;
}