body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(grey, black);
}

.gameButton {
    width: 150px;
    height: 150px;
}

.memoryImage {
    width: 148px;
    height: 148px;
}

.gameTable tr td {
    width: 155px;
    height: 155px;
}

.coveredCard {
    height: 150px;
    width: 150px;
    clear: both;
    background-color: white;
}

.coveredCard:hover {
    border: 2px solid black;
    box-shadow: inset 0px, 0px, 0px, 5px black;
    box-sizing: border-box;
    cursor: pointer;
}

#timer {
    text-align: center;
}

h1:hover {
    opacity: 75%;
    cursor: pointer;
}


/* .fancy-link {
    text-decoration: none;
    color: black;
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    Linie am Anfang invis, da 0% von ihr auf de x Achse zu sehen sind
    transform-origin: right;
    NACH dem hover wird die Transformation nach Rechts "right" gehen, da hier der transform-origin liegt
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    Line breitet sich auf die Gesamtgröße des Hyperlinks aus
    transform-origin: left;
} */

.coveredCard,
.memoryImage {
    filter: drop-shadow(0px 31px 33px rgba(0, 0, 0, 0.451));
    border-radius: 8px;
}


/* button {
    width: 347px;
    height: 175px;
    color: white;
    font-size: 30px;
    filter: drop-shadow(0px 31px 33px rgba(0, 0, 0, 0.451));
    border-radius: 60px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
} */

p {
    color: black;
}

#scores {
    text-align: center;
    padding: 15px;
    margin: 15px;
}

input[type="text"] {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: snow;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    width: 250px;
    height: 45px;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #222;
    transition: color 0.3s ease;
}

input[type=submit] {
    font-size: 15px;
    position: relative;
    left: -5px;
    padding: 5px 15px;
    background: rgb(49, 144, 54);
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 45px;
}

input[type=submit]:hover {
    opacity: 75%;
}


/* TODO ein gesamt css für alle pages */


/* TODO Verlinkung der Pages untereinander (Overview Page, nav bar) */