* {
    max-width: 800px;
}

input[type=text],
select,
textarea {
    width: 760px;
    /*800 - 2x 20px padding von Container*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    /* Styling Submit Button */
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#subject {
    /*Textfeldgröße*/
    height: 200px;
}

#doggo {
    width: 800px;
    height: auto;
}

.fa {
    width: 20px;
    height: auto;
    border-radius: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.fa:hover {
    opacity: .5;
}