body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(grey, black);
}

.gameButton {
    width: 150px;
    height: 150px;
}

.memoryImage {
    width: 148px;
    height: 148px;
}

.memoryImageAdmin {
    width: 148px;
    height: 148px;
    filter: drop-shadow(0px 31px 33px rgba(0, 0, 0, 0.451));
    border-radius: 8px;
}

.memoryImageAdmin:hover {
    border: 2px solid black;
    box-shadow: inset 0px, 0px, 0px, 5px black;
    box-sizing: border-box;
    cursor: pointer;
}

.gameTable tr td {
    width: 155px;
    height: 155px;
}

.admin_page>.gameTable {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.coveredCard {
    height: 150px;
    width: 150px;
    clear: both;
    background-color: white;
}

.coveredCard:hover {
    border: 2px solid black;
    box-shadow: inset 0px, 0px, 0px, 5px black;
    box-sizing: border-box;
    cursor: pointer;
}

#timer {
    text-align: center;
}

h1 {
    text-align: center;
}

h1:hover {
    opacity: 75%;
    cursor: pointer;
}

.coveredCard,
.memoryImage {
    filter: drop-shadow(0px 31px 33px rgba(0, 0, 0, 0.451));
    border-radius: 8px;
}

p {
    color: black;
}

#scores {
    text-align: center;
    padding: 15px;
    margin: 15px;
}

input[type="text"] {
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: snow;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    width: 250px;
    height: 45px;
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #222;
    transition: color 0.3s ease;
}

input[type=submit] {
    font-size: 15px;
    position: relative;
    left: -5px;
    padding: 5px 15px;
    background: rgb(49, 144, 54);
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 45px;
}

input[type=submit]:hover {
    opacity: 75%;
}

.admin_page>input {
    align-content: center;
}

.overview>input[type=submit] {
    font-size: 15px;
    position: relative;
    left: -5px;
    padding: 5px 15px;
    background: rgb(49, 144, 54);
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 45px;
}

.overview_buttons {
    align-content: center;
    position: relative;
    margin: auto;
    margin-top: 8px;
    padding: 5px;
    border: none;
    border-radius: 33px 33px 33px 33px;
    width: 250px;
    height: 66px;
    font-size: 18px;
    background: rgb(49, 144, 54);
}

.overview_buttons:hover {
    opacity: 75%;
    cursor: pointer;
}

.play_buttons {
    display: grid;
    place-items: middle;
    position: relative;
    margin: 8px;
    border: none;
    border-radius: 33px 33px 33px 33px;
    width: 130px;
    height: 45px;
    font-size: 16px;
    background: rgb(49, 144, 54);
}

.play_buttons button {
    display: table-cell;
    vertical-align: middle;
}

.play_buttons:hover {
    opacity: 75%;
    cursor: pointer;
}


/* .align-buttons {} */

#scoreboard {
    background-color: rgb(83, 127, 144);
    border: 2px solid black;
    filter: drop-shadow(0px 31px 33px rgba(0, 0, 0, 0.451));
    border-radius: 8px;
}


/* TODO leaderboard css */


/* TODO Verlinkung der Pages untereinander (Overview Page, nav bar) */