* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    margin: auto;
    width: 800px;
}

.container {
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.anzeigeflaeche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.auswahlbilder {
    margin: 10px;
    height: 150px;
    width: auto;
}

#nextHead,
#save,
#create {
    background-color: cornflowerblue;
    height: auto;
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}